body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(assets/bg-img.jpg);
}

.card {
    height: 400px;
    background-color: #88bcc330;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#heading{
    color: #002a54;
    font-family: 'teko', serif;
    text-decoration: underline;
    font-size: 36px;
}

#log-img{
    margin-left: 50px;
    margin-bottom: 20px;
}

.form-join {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}